<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" />
        <title>Don't Forget Your Task</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    </head>
    <body>
        <div class="header">
            <h1>ToDoLi</h1>
            <form class="form-search" action="url" method="get">
                <input type="text" placeholder="Cari tugasmu..." name="q" class="search-input">
                <button class="search-submit" type="submit">Search</button>
            </form>
            <div class="two-menu">
                <button class="theme-button">Tema</button>
                <button class="theme-button">Profile</button>
            </div>
        </div>
        
    </body>
    <footer>
        
    </footer>
</html>